= form_for @wish do |f|
  - if @wish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wish.errors.count, "error")} prohibited this wish from being saved:"
      %ul
        - @wish.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :url
    = f.text_area :url
  .field
    = f.label :wisher
    = f.text_field :wisher
  .actions
    = f.submit 'Save'
