%h1 Listing wishes

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Url
      %th Wisher
      %th
      %th
      %th

  %tbody
    - @wishes.each do |wish|
      %tr
        %td
          = link_to wish.title,
            user_wish_path(user_id: params[:user_id], id: wish.id)
        %td= wish.description
        %td= wish.url
        %td= wish.wisher.email
        %td
          = link_to 'Edit',
            edit_user_wish_path(user_id: params[:user_id], id: wish.id)
        %td
          = link_to 'Destroy',
            user_wish_path(user_id: params[:user_id], id: wish.id),
            method: :delete,
            data: { confirm: 'Are you sure?' }

%br

= link_to 'New Wish', new_user_wish_path
